{% extends 'base.html' %}

{% block title %}Accueil - Faculté des Sciences{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Bienvenue à l'Université de Maroua</h2>
    <p>Ce site vous permet de consulter les anciens sujets d'examen pour la Faculté des Sciences.</p>
    
    <!-- Formulaire pour accéder aux sujets -->
    <div class="mt-4">
        <h2>Accéder aux sujets</h2>
        <p>Pour trouver un sujet, sélectionnez la filière, le niveau et le cours dans le formulaire des cours disponibles et validez :</p>
        <form method="get" action="{% url 'liste_sujets' %}">
            <div class="form-group">
                <label for="filiere">Filière:</label>
                <select name="filiere" id="filiere" class="form-control">
                    <!-- Les options de filière devraient être générées dynamiquement -->
                    {%  for fil in filiere_list %}
                        <option value="{{ fil }}">{{ fil }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="niveau">Niveau:</label>
                <select name="niveau" id="niveau" class="form-control">
                    <!-- Les options de niveau devraient être générées dynamiquement -->
                    {%  for fil in niveau_list %}
                        <option value="{{ fil }}">{{ fil }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="cours">Cours:</label>
                <select name="cours" id="cours" class="form-control">
                    <!-- Les options de cours devraient être générées dynamiquement -->
                    {%  for fil in cours_list %}
                        <option value="{{ fil }}">{{ fil }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Rechercher</button>
        </form>
    </div>
</div>
{% endblock %}
