{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Votre Application{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="{% url 'accueil' %}">Université de Maroua</a>
        <nav>
            <input type="checkbox" id="menu-toggle" class="menu-toggle" />
            <label for="menu-toggle" class="hamburger">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </label>
            
            <ul class="nav-menu">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'accueil' %}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'liste_sujets' %}">Sujets</a>
                </li>
            </ul>
        </nav>
    </nav>

    {% block content %}
    <!-- Contenu principal -->
    {% endblock %}

    <footer>
        <p>© {{ current_year }} Université de Maroua - Faculté des Sciences. Tous droits réservés.</p>
    </footer>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
